* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    padding: 20px 15px;
    background-color: peachpuff;
    color: papayawhip;


}

main {
    background: #999;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;

}

article {
    background: #fff;
    padding: 10px;

}

footer {}

@media screen and (min-width:768px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

}
